<!DOCTYPE html>
<html>
  <head>
      <title>Survey Application</title>
      <!-- linking a css style sheet -->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="bg-img">
    <h3> Your feedback is important for our business ! </h3>
    <!-- read on to learn about form actions. we'll talk about the method in a later
     section-->
       <form action="/users" method="post">
         Your Name: <input type="text" class="box" name="name">
         <br>
         Location: <input type="text" class="box" name="location">
         <br>
         Favorite Product: <input type="text" class="box" name="product">
         <br>
         <textarea name="comment" >Comment</textarea>
         <br>
         <input type="submit" name="Submit">
       </form>
  </div>
  </body>
</html>
